<div class="container mt-4">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <!-- Carousel Inner -->
        <div class="carousel-inner border border-4 border-success rounded-3">
            <div class="carousel-item active">
                <img src="Main_Bldg_Final_1.jpg" class="d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="2024102574-1024x316.jpg" class="d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src="adventure-travel-header.webp" class="d-block w-100" alt="Slide 3">
            </div>
            <div class="carousel-item">
                <img src="10-Weirdest-programming-languages-youve-never-heard-of.webp" class="d-block w-100" alt="Slide 3">
            </div>
        </div>

        <!-- Previous Button -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <!-- Next Button -->
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>



<!-- ABOUT PAGE -->

<div class="container about-container mt-5 p-4">
    <div class="text-center">
        <h2 class="text-success fw-bold">About Me</h2>
    </div>

    <div class="about-content">
        <p class="lead">
            Hello! I'm <strong>Shubham Vishwakarma</strong>, a passionate <strong>Angular Developer</strong> & <strong>Civil Engineering Student at VNIT Nagpur</strong>. 
            My journey started with a love for problem-solving, and over the years, I have honed my skills in <strong>web development, video editing, data analyst</strong>
        </p>
        <p>
            I completed my schooling at <strong>Kendriya Vidyalaya</strong>, where I was an <strong>average student</strong>, scoring <strong>83.4%</strong> in both 10th & 12th. Apart from academics, I excelled in <strong>athletics</strong>, participating in <strong>long jump, 100m, and 200m races at the regional level</strong>.
        </p>
        <p>
            After school, I prepared for <strong>JEE</strong> and secured admission at <strong>VNIT Nagpur</strong>, where I am currently in my <strong>third year of Civil Engineering</strong>. I enjoy building <strong>scalable web applications</strong> 
        </p>
        <p>
            .
        </p>
    </div>
</div>

