<div class="main">
  <div class="left" >
    <div class="card bg-dark text-white border-light" style="width: 30rem;  height: 60rem;">
      <div class="card-body">
        <h1 class="card-title">MY SKILLS</h1>
        <button type="button" class="btn btn-primary" id="my_skill"
          style="width: 100%;display: flex; align-items: center; justify-content: center;" routerLink="/all_project"> ALL PROJECT-VIEW</button>


        <!-- DOWN-DROP -->


        <div class="accordion accordion-dark" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button active" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                WEB DEVELOPMENT
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <strong>MEAN STACK DEVELOPER </strong>
                <br>
                <br>
                <ul class="list-group">
                  <li class="list-group-item">HTML</li>
                  <li class="list-group-item">CSS</li>
                  <li class="list-group-item">JAVA-SCRIPT</li>
                  <li class="list-group-item">BOOTSTRAP</li>
                  <li class="list-group-item">Express js</li>
                  <li class="list-group-item">Node js</li>
                  <li class="list-group-item">ANGULAR</li>
                  <li class="list-group-item">MYSQL</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                DATA ANALYSIS
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
              <div class="accordion-body">
                <strong>DATA ANALYST</strong>
                <br>
                <br>
                <ul class="list-group">
                  <li class="list-group-item">MYQSL</li>
                  <li class="list-group-item">Python
                    <UL>
                      <li class="list-group-item">Pandas</li>
                      <li class="list-group-item">NumPy</li>
                      <li class="list-group-item">Matplotlib</li>
                    </UL>
                  </li>
                  <li class="list-group-item">Power-BI</li>
                  <li class="list-group-item">EXCEL</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                VIDEO EDITING 
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
              <div class="accordion-body">
                <strong>EDTING SOFTWARE</strong>
                <br>
                <br>
                <ul class="list-group">
                  <li class="list-group-item">CANVA</li>
                  <li class="list-group-item">ADOBE PRO</li>
                  <li class="list-group-item">DAVINCI</li>
                  <li class="list-group-item">BLENDER</li>
                  <li class="list-group-item">CAPCUT</li>
                </ul>

              </div>
            </div>
          </div>
        </div>

        <!-- DOWN-DROP -->


      </div>
    </div>
  </div>

  <div class="middle">
    <div class="card bg-dark text-white border-light shadow-lg" style="width: 450px;">
      <!-- Image with Dark Border -->
      <div class="p-2 bg-dark border border-3 border-secondary rounded-3 m-3">
        <img src="20230703123943901.jpg" class="card-img-top rounded-3" alt="Profile Image"
          style=" object-fit: cover;">
      </div>

      <div class="card-body text-center">
        <h1 class="card-title">SHUBHAM VISHWAKARMA</h1>
        <p class="card-text">
          My name is Shubham Vishwakarma, and I am currently pursuing <br> my B.Tech in Civil Engineering from VNIT Nagpur, one of <br>the most prestigious engineering institutes in India. <br>I am in my third year and passionate about technology, engineering, and <br>innovation, constantly enhancing my skills <br>for a successful career ahead.
        </p>
        <a href="#" class="btn btn-primary" routerLink="/about" >ABOUT PAGE</a>
      </div>
    </div>
  </div>


  <div class="right">
    <div class="card bg-dark text-white border-light" style="width: 30rem ; height: 60rem;">
      <div class="card-body">
        <h1 class="card-title">MY-HOBBIES</h1>

        <button type="button" class="btn btn-primary" id="my_skill"
          style="width: 100%;display: flex; align-items: center; justify-content: center;" routerLink='/all_achivements'>ACHIEVEMENTS-VIEW</button>


        <!--downdrop-->

        <div class="accordion accordion-dark" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button active" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                MUSIC
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <strong>INSTRUMENT-SKILLS</strong>
                <ul class="list-group">
                  <li class="list-group-item">GUITAR</li>
                  <li class="list-group-item">FLUTE</li>
                </ul>

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                TRAVELING AND SHOOTING VIDEO
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
              <div class="accordion-body">
                <strong>TRAVELED</strong>
                <ul class="list-group">
                  <li class="list-group-item">MUMBAI</li>
                  <li class="list-group-item">NAGPUR</li>
                  <li class="list-group-item">MADHYA PRADESH</li>
                  <li class="list-group-item">ODISHA</li>
                  <li class="list-group-item">KASHMIR</li>
                  <li class="list-group-item">DELHI</li>
                  <li class="list-group-item">UTTRAKHAND</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                SPORTS
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
              <div class="accordion-body">
                <strong>ATHLETICS</strong>
                <ul class="list-group">
                  <li class="list-group-item">LONG JUMP</li>
                  <li class="list-group-item">100M SPRINT</li>
                  <li class="list-group-item">200M SPRINT</li>
                  <li class="list-group-item">400M SPRINT</li>

                </ul>
                
              </div>
            </div>
          </div>
        </div>

        <!--downdrop-->
      </div>
    </div>
  </div>
</div>